.card {
  width: 500px;
  max-width: 90%;
  min-height: 300px;
  background-color: #1d1d1d;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
}
.headingContainer {
  margin-bottom: 30px;
}
.heading {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}
.heading span {
  margin-left: 10px;
}
